<library path="simple_pure_pursuit_controller">
  <class
    name="simple_nav2_controller/SimplePurePursuitController"
    type="simple_nav2_controller::SimplePurePursuitController"
    base_class_type="nav2_core::Controller">
    <description>Simple pure pursuit controller</description>
  </class>
</library>
